/* Show title of unread tabs with red and italic font */
/*
.tab.unread .label {
  color: red !important;
  font-style: italic !important;
}
*/

* {
    font-size: 7pt !important;
    font-family: -apple-system !important;
}

/* Add private browsing indicator per tab */
/*
.tab.private-browsing .label:before {
  content: "🕶";
}
*/

.tab .closebox {
  display: none;
}

.newtab-button-box {
  display: none;
}
#tabbar {
  bottom: 0 !important; /* Eliminate dead space on bottom */
}

.tab {
  height: 22px;
}

/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */ 
#tabbar { border: 0; overflow-y: scroll !important; margin-left: -18px !important; scrollbar-width: auto; }

/* Hide .twisty and adjust margins so favicons have 7px on left. */
tab-item .twisty {
    visibility: hidden;
    margin-left: 0 px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
tab-item .label {
    margin-left: 5px;
}

/* Hide close buttons on tabs. */
tab-item .closebox {
    visibility: collapse;
}

tab-item:hover .closebox {
    visibility: initial;
}

/* Hide sound playing/muted button. */
.sound-button::before {
    display: none !important;
}

/* ################################################ */
/* ##### COLOR THEME ############################## */
/* ################################################ */

/*:root {
    background-color: #383838;
}*/
#tabbar {
    border-right: 1px #595959;
    box-shadow: none !important;
}
tab-item {
    box-shadow: none !important;
}
tab-item:hover {
   filter: opacity(80%) drop-shadow(0px 0px 0px #3498DB);
}

/* Adjust style for tab that has sound playing. */
tab-item.sound-playing .favicon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background: #FFFFFF;
    animation: pulse 2s ease-out 0s infinite;
    z-index: -1;
    opacity: 0;
}

/* Adjust style for tab that is muted. */
tab-item.muted {
    opacity: 0.5;
}

/* Better alignment of Favicons when collapsed */
tab-item[data-level][data-level="0"] {
  margin-left: 10px !important;
}

/*
# https://github.com/piroor/treestyletab/wiki/Plain-Dark-theme-(patch-for-the-theme-%22Plain%22)
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

:root,
:root[color-scheme="system-color"] {
  --in-content-page-background: #2A2A2E /* rgb(42, 42, 46) */;
  --in-content-page-color: rgb(249, 249, 250);
  --in-content-text-color: var(--in-content-page-color);
  --in-content-deemphasized-text: var(--grey-40);
  --in-content-box-background: #202023;
  --in-content-box-background-hover: /* rgba(249,249,250,0.15) */ rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));
  --in-content-box-background-active: rgba(249,249,250,0.2);
  --in-content-box-background-odd: rgba(249,249,250,0.05);
  --in-content-box-info-background: rgba(249,249,250,0.15);

  --in-content-border-color: rgba(249,249,250,0.2);
  --in-content-border-color-mixed: rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));
  --in-content-border-hover: rgba(249,249,250,0.3);
  --in-content-border-hover-mixed: rgb(calc((42 * 0.7) + (249 * 0.3)), calc((42 * 0.7) + (249 * 0.3)), calc((46 * 0.7) + (250 * 0.3)));
  --in-content-box-border-color: rgba(249,249,250,0.2);
  --in-content-box-border-color-mixed: rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));

  --in-content-button-background: rgba(249,249,250,0.1);
  --in-content-button-background-mixed: rgb(calc((42 * 0.9) + (249 * 0.1)), calc((42 * 0.9) + (249 * 0.1)), calc((46 * 0.9) + (250 * 0.1)));
  --in-content-button-background-hover: rgba(249,249,250,0.15);
  --in-content-button-background-hover-mixed: rgb(calc((42 * 0.85) + (249 * 0.15)), calc((42 * 0.85) + (249 * 0.15)), calc((46 * 0.85) + (250 * 0.15)));
  --in-content-button-background-active: rgba(249,249,250,0.2);
  --in-content-button-background-active-mixed: rgb(calc((42 * 0.8) + (249 * 0.2)), calc((42 * 0.8) + (249 * 0.2)), calc((46 * 0.8) + (250 * 0.2)));

  --tab-highlighter: var(--dark-tab-line);
  --tab-highlighted-highlight: white;
  --tabbar-bg: var(--dark-frame);

  --tab-like-surface: var(--toolbar-non-lwt-bgcolor);
  --tab-surface-regular: var(--tab-like-surface);
  --tab-text-regular: var(--toolbar-non-lwt-textcolor);
  --tab-text-inverted: var(--toolbar-non-lwt-bgcolor);
  --tab-text-active: var(--tab-text-regular);
  --tab-text-active-inverted: var(--toolbar-non-lwt-bgcolor);
  --tab-border: var(--in-content-box-border-color-mixed);
  --tab-surface-hover: var(--in-content-box-background-hover);
  --tab-surface-active: var(--in-content-button-background-mixed);
  --tab-surface-active-hover: var(--in-content-button-background-active-mixed);
  --tab-dropmarker: var(--toolbar-non-lwt-textcolor);

  --tab-highlighter-inactive: var(--grey-10-a20);
}

/* Firefox applies dark colors to scrollbars in its in-content UI, when a
   Dark theme is applied by the platform. To imitate such appearance we need
   to specify dark colors manually. See also:
   https://github.com/piroor/treestyletab/issues/2373 */
#tabbar {
  scrollbar-color: var(--in-content-button-background-active-mixed) var(--in-content-box-background);
}

:root[color-scheme="system-color"] #background::after {
  content: none;
}

:root,
#background {
  background-image: none;
}